<template>
  <div>
    <div v-if="authenticated">You are logged in!</div>
    <div v-if="!authenticated">You are not logged in</div>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  props: ['auth', 'authenticated']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
