<template>
  <div>
    Callback Page - This page should set your localStorage access tokens etc, then redirect you to the Homepage
  </div>
</template>

<script>
export default {
  name: 'callback',
  data () {
    this.auth.handleAuthentication()
    return {}
  },
  props: ['auth', 'authenticated']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
