<template>
  <div>
    <div class="background-image-container">
      <div class="background-middle-content">
        <div class="background-middle-title">Travelsupermarket.com<br>Find a great travel deal today!</div>
        <router-link class="button-reset middle-button" to="/search" tag="button">Search</router-link>
      </div>
      <img src="../assets/images/backgrounds/homepageBackground.jpeg">
    </div>

    <div class="three-columns-container">
      <div class="three-column-wrapper">
        <div class="three-column">
          <div class="three-column-header">Here's the first title</div>
          <div class="three-column-text">Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo</div>
        </div>
      </div>
      <div class="three-column-wrapper">
        <div class="three-column">
          <div class="three-column-header">Here's the second title</div>
          <div class="three-column-text">Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo</div>
        </div>
      </div>
      <div class="three-column-wrapper">
        <div class="three-column">
          <div class="three-column-header">Here's the third title</div>
          <div class="three-column-text">Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo Yolo yolo solo han solo polo rolo sholo cholo</div>
        </div>
      </div>
    </div>

    <div v-if="authenticated" @click="getDataFromApi()">You are logged in!</div>
    <div v-if="!authenticated">You are not logged in</div>
  </div>
</template>

<script>

var fetch = require('node-fetch');

export default {
  name: 'home',
  data () {
    return {

    }
  },
  props: ['auth', 'authenticated'],
  methods: {
    getDataFromApi: function(){
      fetch('http://localhost:3000/authorized', {
        headers: {Authorization: 'Bearer ' + this.auth.getAccessToken()}
      })
        .then(function(res) {
          return res.text();
        }).then(function(body) {
        console.log(body);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .background-image-container{
    height: 580px;
    overflow: hidden;
  }

  .background-middle-content{
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
  }

  .background-middle-title{
    padding-top: 80px;
    font-weight: bold;
    font-size: 3em;
    color: white;
  }

  .three-columns-container{
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  .three-column-wrapper{
    flex-grow: 1;
    width: 33%;
    height: 100px;
    text-align: center;
  }

  .three-column{
    padding: 25px;
  }

  .three-column-header{
    font-size: 2em;
    color: orange;
  }

  .middle-button{
    font-size: 1.3em;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: orange;
    font-weight: bold;
    margin-top: 55px;
  }

  .three-column-text{

  }
</style>
