<template>
  <div>
    <div class="middle-section">
      <div v-if="authenticated">You are logged in!</div>
      <div v-if="!authenticated">You are not logged in</div>
      <div class="channel-buttons-container">
        <a href="#" @click="channelButtonClicked('Holidays');" class="action-button shadow animate blue">Holidays</a>
        <a href="#" @click="channelButtonClicked('Flights');" class="action-button shadow animate blue">Flights</a>
        <a href="#" @click="channelButtonClicked('Hotels');" class="action-button shadow animate blue">Hotels</a>
        <a href="#" @click="channelButtonClicked('CarHire');" class="action-button shadow animate blue">CarHire</a>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    channelButtonClicked: function(channel){
      console.log(channel);
    }
  },
  props: ['auth', 'authenticated']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .middle-section{
    height: 100%;
    margin: 0 10%;
  }

  .channel-buttons-container{

  }

  .animate
  {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }

  .action-button
  {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
  }

  .blue
  {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
  }

  .action-button:active
  {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }
</style>
