<template>
  <div id="app">
    <div class="middle-content-nav-bar">
      <img class="nav-logo" src="./assets/images/logos/nav-logo.png">
      <ul class="nav-bar-ul">
        <li class="nav-bar-li" v-if="!authenticated"><a class="nav-bar-link" @click="login()">Login</a></li>
        <li class="nav-bar-li" v-if="authenticated"><a class="nav-bar-link" @click="logout()">Logout</a></li>
        <li class="nav-bar-li"><router-link class="nav-bar-link" to="/about">About</router-link></li>
        <li class="nav-bar-li"><router-link class="nav-bar-link" to="/search">Search</router-link></li>
        <li class="nav-bar-li"><router-link class="nav-bar-link" to="/">Home</router-link></li>
      </ul>
    </div>

    <router-view class="router-view" :auth="auth" :authenticated="authenticated"></router-view>

    <div class="footer-container">
      <div class="footer-wrapper">
        <div class="four-columns-footer-container footer-top-section">
          <div class="four-column-footer-wrapper">
            <div class="four-column-footer">
              <div class="footer-title">Products</div>
              <div class="footer-link">yolo.io</div>
              <div class="footer-link">simply the best</div>
              <div class="footer-link">get it all in a minute</div>
            </div>
          </div>
          <div class="four-column-footer-wrapper">
            <div class="four-column-footer">
              <div class="footer-title">About</div>
              <div class="footer-link">simply the best</div>
              <div class="footer-link">yolo.io</div>
              <div class="footer-link">get it all in a minute</div>
            </div>
          </div>
          <div class="four-column-footer-wrapper">
            <div class="four-column-footer">
              <div class="footer-title">Links</div>
              <div class="footer-link">get it all in a minute</div>
              <div class="footer-link">yolo.io</div>
              <div class="footer-link">simply the best</div>
            </div>
          </div>
          <div class="four-column-footer-wrapper">
            <div class="four-column-footer">
              <img class="footer-logo" src="./assets/images/logos/nav-logo.png">
              <div class="footer-contact-us">Contact us at: travel@yolo.com</div>
            </div>
          </div>
        </div>

        <div class="four-columns-footer-container footer-bottom-section">
          <div class="four-column-footer-wrapper">
            <div class="four-column-footer">
              Hello there my name is Simon Lam and I like to make website thingies. This is totally a load of random text which doesn't even matter if it gets deleted. For some reason this kind of text
              exists of many website's footers. I don't have any kind of legal information to put here yet.
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

import AuthService from './auth/AuthService'

const auth = new AuthService();

const { login, logout, authenticated, authNotifier } = auth

export default {
  name: 'app',
  data(){
    authNotifier.on('authChange', authState => {
      this.authenticated = authState.authenticated
  })
    return {
      auth,
      authenticated
    }
  },
  methods: {
    login,
    logout
  }
}
</script>

<style>
  #app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .router-view{
    min-height: 100vh;
  }

  .middle-content-nav-bar{
    padding: 0 10%;
    background-color: #e60;
  }

  .nav-bar-ul{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    list-style: none;
    height: 40px;
  }

  .nav-bar-li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
    float: right;
  }

  .nav-bar-link{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
  }

  .nav-logo{
    height: 30px;
    position: absolute;
    padding-top: 5px;
  }

  .footer-container{
    height: 350px;
    background-color: lightgrey;
  }

  .footer-wrapper{
    height: 100%;
    margin: 0 10%;
  }

  .four-columns-footer-container{
    display: flex;
    flex-wrap: wrap;
  }

  .footer-top-section{
    height: 70%;
    border-bottom: 2px solid black;
  }

  .footer-bottom-section{
    height: 30%;
  }

  .four-column-footer-wrapper{
    flex-grow: 1;
    width: 25%;
    text-align: left;
    height: 100%;
  }

  .four-column-footer{
    padding: 25px;
  }

  .footer-title{
    font-weight: bold;
    font-size: 1.5em;
  }

  .footer-link{
    text-decoration: none;
    line-height: 60px;
  }

  .footer-logo{
    display: block;
    height: 70px;
  }

  .footer-contact-us{
    margin-top: 80px;
  }
</style>
